<div class="row">
  <!-- <p-dialog [maximizable]="false" [header]="title" [(visible)]="Popup" [draggable]="true" [resizable]="true">
    <div class="sizes">
      <input [(ngModel)]="amount" pInputText type="number"  placeholder="Enter amount" />
    </div>
    <br/>
    <div class="sizes">
      <button pButton pRipple label="Save" (click)="SaveQuickDonation()"
      class="p-button-raised">
    </button>
    </div>
    </p-dialog> -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Recurring Billing</div>
      <div class="card-body">
        <div class="p-field p-col-4 p-md-2">
          <label >Category:</label>
          <p-dropdown (onChange)="GetAllSubscription()" ngDefaultControl [(ngModel)]="selectedCategoryId"  [options]="categoryList" optionLabel="donationName" optionValue="id">
          </p-dropdown>
          <!-- <p-dropdown [(ngModel)]="selectedCategoryId"  [options]="categoryList" optionLabel="donationName" optionValue="id">
          </p-dropdown> -->
          </div>
        <!-- <div *ngIf="showLoader" class="card">
          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      </div> -->
  <p-table
    styleClass="p-datatable-gridlines"
    #dt
    [value]="subscriptionList"
    [reorderableColumns]="true"
    [paginator]="true"
    [scrollable]="true"
    [rows]="10"
    scrollHeight="50vh"
    [showCurrentPageReport]="true"
    [columnResizeMode]="true"
    [resizableColumns]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['subscriptionId','name','createdOn','accountNumber']"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
  <ng-template pTemplate="caption">
    <div class="flex">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </span>
    </div>
</ng-template>
    <ng-template pTemplate="header">
      <tr >
        <th style="min-width:100px" pResizableColumn pSortableColumn="subscriptionId">Subscription Id<p-sortIcon field="subscriptionId"></p-sortIcon></th>
        <th style="min-width:100px" pResizableColumn pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
        <th style="min-width:100px" pResizableColumn pSortableColumn="amount">Amount<p-sortIcon field="amount"></p-sortIcon></th>
        <th style="min-width:100px" pResizableColumn pSortableColumn="createdOn">CreatedOn<p-sortIcon field="createdOn"></p-sortIcon></th>
        <th style="min-width:100px" pResizableColumn pSortableColumn="accountNumber">Account Number<p-sortIcon field="accountNumber"></p-sortIcon></th>
        <th style="min-width:100px" pResizableColumn pSortableColumn="subscriptionStatus">Status<p-sortIcon field="subscriptionStatus"></p-sortIcon></th>
        <th style="min-width:100px">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr style="width: 20rem">
        <td style="flex-basis:25%">{{ report.subscriptionId }}</td>
        <td style="flex-basis:25%">{{ report.name }}</td>
        <td style="flex-basis:25%">{{ report.amount }}</td>
        <td style="flex-basis:25%">{{ report.createdOn }}</td>
        <td style="flex-basis:25%">{{ report.accountNumber }}</td>
        <td style="flex-basis:25%">{{ report.subscriptionStatus }}</td>

        <td style="flex-basis:25%">
          <a pButton pRipple type="button" (click)="remove(report.name, report.subscriptionId )" style="margin-left: 5px;"
              icon="pi pi-trash" class="p-button-rounded"></a>
      </td>
      </tr>
    </ng-template>
  </p-table>
</div></div></div></div>
<p-toast position="bottom-center"></p-toast>

