<div class="row">
  <p-dialog [maximizable]="false" [header]="title" [(visible)]="Popup" [draggable]="true" [resizable]="true">
    <div class="sizes">
      <input min="10" [(ngModel)]="amount" pInputText type="number"  placeholder="Enter amount" />
    </div>
    <br/>
    <div class="sizes">
      <button [disabled]="amount<=9" pButton pRipple label="Save" (click)="SaveQuickDonation()"
      class="p-button-raised">
    </button>
    </div>
    </p-dialog>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Manage Quick Donations</div>
      <div class="card-body">
        <div *ngIf="showLoader" class="card">
          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      </div>
  <p-table
    styleClass="p-datatable-gridlines"
    #dt
    [value]="amountList"
    [reorderableColumns]="true"
    [paginator]="true"
    [scrollable]="true"
    [rows]="10"
    scrollHeight="50vh"
    [showCurrentPageReport]="true"
    [columnResizeMode]="true"
    [resizableColumns]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['sNo','id','amount']"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
  <ng-template pTemplate="caption">
    <div class="flex">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </span>
    </div>
</ng-template>
    <ng-template pTemplate="header">
      <tr >
        <th style="min-width:100px" pResizableColumn pSortableColumn="sNo">S.No<p-sortIcon field="sNo"></p-sortIcon></th>
        <th style="min-width:100px" pResizableColumn pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
        <th style="min-width:100px" pResizableColumn pSortableColumn="amount">Amount<p-sortIcon field="amount"></p-sortIcon></th>
        <th style="min-width:100px">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr style="width: 20rem">
        <td style="flex-basis:25%">{{ report.sNo }}</td>
        <td style="flex-basis:25%">{{ report.id }}</td>
        <td style="flex-basis:25%">{{ report.amount }}</td>
        <td style="flex-basis:25%">
          <a pButton pRipple type="button" (click)="OpenDialog('Edit Quick Amount',report)" icon="pi pi-user-edit"
              class="p-button-rounded"></a>
          <a pButton pRipple type="button" (click)="remove(report.id,report.amount)" style="margin-left: 5px;"
              icon="pi pi-trash" class="p-button-rounded"></a>
      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <button (click)="OpenDialog('Add Quote',null)" class="btn btn-primary mb1 bg-blue">Add New</button>

      <!-- <a (click)="OpenDialog('Add Quick Amount',null)" class="btn btn-primary"
        >Add New</a
      > -->
    </ng-template>
  </p-table>
</div></div></div></div>
<p-toast position="bottom-center"></p-toast>

