<div class="row">
  <p-dialog [maximizable]="false" [modal]="true" styleClass="p-fluid" [style]="{width: '600px'}" [header]="title" [(visible)]="Popup" [draggable]="true" [resizable]="true">
    <ng-template pTemplate="content">
      <div class="field col">
        <label>Description:</label>
        <textarea [(ngModel)]="description" rows="6" cols="50" pInputTextarea></textarea>
      </div>
        <div class="field col">
          <label>Category:</label>
          <input [readonly]="enableInputs" [(ngModel)]="donationName" pInputText type="text"  placeholder="Enter Category Name" />
        </div>
       <div class="field col">
        <label>Login ID:</label>
        <input [(ngModel)]="loginId" pInputText type="text"  placeholder="Enter Login ID" />
       </div>
       <div class="field col">
        <label>Transaction Key:</label>
        <input  [(ngModel)]="transactionKey" pInputText type="text"  placeholder="Enter TransactionKey" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Save" (click)="SaveDonationCategory()" class="p-button-raised">
    </button>
  </ng-template>
    <!-- <label>Description</label>
    <div class="sizes">
      <textarea [(ngModel)]="description" rows="10" cols="50" pInputTextarea></textarea>
    </div><br/>
    <label>Description</label>
    <div class="sizes">
      <input [readonly]="enableInputs" [(ngModel)]="donationName" pInputText type="text"  placeholder="Enter Category Name" />
    </div><br/>
    <label>Description</label>
    <div class="sizes">
      <input  [(ngModel)]="loginId" pInputText type="text"  placeholder="Enter Login ID" />
    </div><br/>
    <label>Description</label>
    <div class="sizes">
      <input  [(ngModel)]="transactionKey" pInputText type="text"  placeholder="Enter TransactionKey" />
    </div><br/> -->


    </p-dialog>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Manage Donation Category</div>
      <div class="card-body">
        <div *ngIf="showLoader" class="card">
          <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      </div>
  <p-table styleClass="p-datatable-sm p-datatable-gridlines" responsiveLayout="scroll" dataKey="id" resizableColumns="true"
    #dt
    [value]="donationList"
    [reorderableColumns]="true"
    [paginator]="true"
    [scrollable]="true"
    [rows]="10"
    scrollHeight="50vh"
    [showCurrentPageReport]="true"
    [columnResizeMode]="true"
    [resizableColumns]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['id','donationName','description','loginId']"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
  <ng-template pTemplate="caption">
    <div class="flex">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </span>
    </div>
</ng-template>
    <ng-template pTemplate="header">
      <tr >
        <th  pResizableColumn pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th  pResizableColumn pSortableColumn="donationName">Category<p-sortIcon field="donationName"></p-sortIcon></th>
        <th  pResizableColumn pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
        <th  pResizableColumn pSortableColumn="loginId">Login ID<p-sortIcon field="loginId"></p-sortIcon></th>
        <th  pResizableColumn pSortableColumn="transactionKey">Transaction Key<p-sortIcon field="transactionKey"></p-sortIcon></th>

        <th >Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr style="width: 20rem" >
        <td [ngStyle]="{'color': changeColor(report.active)}" style="flex-basis:25%">{{ report.id }}</td>
        <td [ngStyle]="{'color': changeColor(report.active)}" style="flex-basis:25%">{{ report.donationName }}</td>
        <td [ngStyle]="{'color': changeColor(report.active)}" style="flex-basis:25%">{{ report.description }}</td>
        <td [ngStyle]="{'color': changeColor(report.active)}" style="flex-basis:25%">{{ report.loginId }}</td>
        <td [ngStyle]="{'color': changeColor(report.active)}" style="flex-basis:25%">{{ report.transactionKey }}</td>
        <td style="flex-basis:25%">
          <a pButton pRipple type="button" (click)="OpenDialog('Edit Category',report)" icon="pi pi-user-edit"
              class="p-button-rounded"></a>
          <a pButton pRipple type="button" (click)="remove(report)" style="margin-left: 5px;"
              icon="pi pi-ban" class="p-button-rounded"></a>
      </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <button (click)="OpenDialog('Add Quote',null)" class="btn btn-primary mb1 bg-blue">Add New</button>
      <!-- <a (click)="OpenDialog('Add Category',null)" class="btn btn-primary"
        >Add New</a
      > -->
    </ng-template>
  </p-table>
</div></div></div></div>
<p-toast position="bottom-center"></p-toast>
