::ng-deep .p-table .ui-datatable-scrollable-view .ui-datatable-scrollable-body {
  min-height: 40vh;
}
:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
